.other {
  display: flex;
  font-size: small;
  justify-content: center;
}

.name {
  margin-right: 1%;
  font-size: 15px;
  font-weight: bold;
  justify-content: space-between;
  float: left;
  text-align: left;
}

.send{
  /* background: rgba(0, 0, 0, 0.15); */
  background-color: darkgrey;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: fit-content;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  /* background-color: rgb(145, 90, 17); */
  /* width: 80%; */
}

.input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

.btn {
  padding: 0.25rem;
  /* background-color: ; */
  width: 10%;
  background: none;
  border: none;
  padding-bottom: 3%;
  /* display: none; */
}


.sendImg {
  padding-top: 30%;
  width: 30px;
}

.backImg{
  margin-top: 0.5%;
  width: 20px;
  height: 20px;
}

.chatHeader{
  margin-top: -1%;
  padding-top: 2%;
  padding-left: 2%;
  background-color: white;
  position: fixed;
  display: flex;
}